@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  background: #0A0F1C;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #12172B;
}

::-webkit-scrollbar-thumb {
  background: #2D3748;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4A5568;
}